$theme-background: #f4f4f4;

$font-color-default: #343434;

// COLORS > B&W
$black: #000;
$white: #fff;
$gray: #808080;
$lightgray: #d3d3d3;

// COLORS > THEME
$primary: #c44512;
$secondary: #dadada;
$danger: #d40000;
$success: #198754;

// SPACING UNITS
$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-s: 12px;
$spacing-default: 16px;
$spacing-l: 20px;
$spacing-xl: 24px;
$spacing-xxl: 28px;
$spacing-double: 32px;

// FONTS > SIZES
$font-size-xs: 0.75rem;
$font-size-s: 0.875rem;
$font-size-default: 1rem;
$font-size-m: 1.25rem;
$font-size-l: 1.5rem;
$font-size-xl: 1.75rem;

// FONTS > WEIGHTS
$font-weight-normal: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;
